<!--
  Generated template for the OrderEditFotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <!-- Com o "capitalize:true" Queremos que apenas o "PRIMEIRO  caractere do "TITLE" seja transformado em "MAIÚSCULO" -->
  <custom-logged-header [title]="view | capitalize:true"></custom-logged-header>

  <ion-toolbar>
    <!-- Alternar entre view-order-add e view-order-list -->
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="Atualizar Foto">
        Atualizar
      </ion-segment-button>
      <!--
      <ion-segment-button value="Order List">
        Order List
      </ion-segment-button>
      -->
    </ion-segment>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>

  <!-- <button ion-button block clear (click)="canEdit = !canEdit">Exibir/Ocultar formulário</button> -->

  <form (ngSubmit)="onSubmit($event)" *ngIf="canEdit" #profileForm="ngForm">

    <ion-item>
      <ion-icon name="image" item-left color="primary"></ion-icon>
      <input type="file" accept="image/*" (change)="onPhoto($event)" required>
    </ion-item>

    <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>

    <ion-item>
      <ion-card>
        <!-- <img [src]="image" *ngIf="image" style="margin: 10px;"> -->
        <img [src]="image" *ngIf="image">
      </ion-card>        
    </ion-item>  

    <br>
    
    <button ion-button round block color="primary" type="submit" [disabled]="profileForm.form.invalid">Order Save Image</button>

  </form>

</ion-content>
