page-state-order {

    .color-button-active{
        width: 50px;
        background-color:#B2DFDB;
        border-radius: 50%;
    }

    .color-button-block{
        width: 100px;
        background-color:#FFCDD2;
        border-radius: 50%;
    }
    
}
