<!--
  Generated template for the StateLevelEditFotoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <custom-logged-header [title]="view | capitalize:true"></custom-logged-header>
  <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="Atualizar Foto">
        Atualizar
      </ion-segment-button>
      <!--
      <ion-segment-button value="State Level list">
        State Level List
      </ion-segment-button>
      -->      
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <button ion-button block clear (click)="canEdit = !canEdit">Exibir/Ocultar formulário</button> -->

  <form (ngSubmit)="onSubmit($event)" *ngIf="canEdit" #profileForm="ngForm">

    <!--
    <ion-item>
      <ion-icon name="chatboxes" item-left color="primary"></ion-icon>
      <ion-input type="text" name="name" placeholder="Nome" [(ngModel)]="currentState.name" text-uppercase required></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="chatbubbles" item-left color="primary"></ion-icon>
      <ion-input type="text" name="description" placeholder="Descrição" [(ngModel)]="currentState.description" text-uppercase required></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="list-box" item-left color="primary"></ion-icon>
      <ion-select name="state" placeholder="Status" [(ngModel)]="currentState.state" text-uppercase required>
        <ion-option value="ativo">ATIVO</ion-option>
        <ion-option value="bloqueado">BLOQUEADO</ion-option>
      </ion-select>  
    </ion-item>
    -->

    <ion-item>
      <ion-icon name="image" item-left color="primary"></ion-icon>
      <input type="file" accept="image/*" (change)="onPhoto($event)" required>
    </ion-item>

    <progress-bar *ngIf="uploadProgress" [progress]="uploadProgress"></progress-bar>

    <ion-item>
      <ion-card>
        <!-- <img [src]="image" *ngIf="image" style="margin: 10px;"> -->
        <img [src]="image" *ngIf="image">
      </ion-card>        
    </ion-item>  

    <br>
    
    <button ion-button round block color="primary" type="submit" [disabled]="profileForm.form.invalid">Salvar</button>

  </form>

</ion-content>
