<!--
  Generated template for the ClientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <!-- Com o "capitalize:true" Queremos que apenas o "PRIMEIRO  caractere do "TITLE" seja transformado em "MAIÚSCULO" -->
  <custom-logged-header [title]="view | capitalize:true"></custom-logged-header>

  <ion-toolbar>
    <!-- Alternar entre view-client-add e view-client-list -->
    <ion-segment [(ngModel)]="view">

      <ion-segment-button value="Cadastrar Cliente">
        <!-- <ion-icon name="add-circle" item-top color="primary"></ion-icon> -->
        Cadastrar
      </ion-segment-button>
      <ion-segment-button value="Clientes Ativos">
        <!-- <ion-icon name="checkmark-circle" item-center color="primary"></ion-icon>  -->
        Ativos
      </ion-segment-button>
      <ion-segment-button value="Clientes Bloqueados">
        <!-- <ion-icon name="close-circle" item-center color="primary"></ion-icon>  -->
        Bloqueados
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
  </ion-toolbar> 

</ion-header>

<ion-content padding>

  <!-- Switch vai ficar ouvindo a nossa propriedade "[(ngModel)]="view"" -->
  <div [ngSwitch]="view">

    <!-- Caso o valor da propriedade " [(ngModel)]="view" == 'client-add' " -->
    <ion-list no-lines *ngSwitchCase="'Cadastrar Cliente'">
        <form [formGroup]="clientForm" (ngSubmit)="onSubmit(); $event.preventDefault()">

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="text" placeholder="Nome" formControlName="name" text-uppercase minlenght="3" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="number" placeholder="RG" formControlName="rg" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="number" placeholder="CPF" formControlName="cpf" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="number" placeholder="CEP" formControlName="cep" text-uppercase ></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="text" placeholder="UF" formControlName="uf" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="text" placeholder="Estado" formControlName="estado" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="text" placeholder="Cidade" formControlName="cidade" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="text" placeholder="Bairro" formControlName="bairro" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="text" placeholder="Logradouro" formControlName="logradouro" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="number" placeholder="Número" formControlName="numero" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="text" placeholder="Complemento" formControlName="complemento" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="tel" placeholder="Tel Residência" formControlName="residencia" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="tel" placeholder="Tel Celular" formControlName="celular" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="tel" placeholder="Tel Comercial" formControlName="comercial" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="number" placeholder="Quantidade" formControlName="quantidade" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="email" placeholder="Email" formControlName="email" text-lowercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="text" item-left color="primary"></ion-icon>
            <ion-input type="text" placeholder="Dados Complementares" formControlName="observacao" text-uppercase></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="list-box" item-left color="primary"></ion-icon>
            <ion-select placeholder="Status" formControlName="state" text-uppercase minlenght="1" required>
              <ion-option value="ativo" selected="true">ATIVO</ion-option>
              <ion-option value="bloqueado">BLOQUEADO</ion-option>
            </ion-select>  
          </ion-item>

          <!--          
          <ion-item>
            <ion-icon name="list-box" item-left color="primary"></ion-icon>     
            <ion-select placeholder="State" formControlName="state" text-uppercase minlenght="1" required>
              <ion-option *ngFor="let state of statesgeneral | async" [value]="state.name">{{ state.name }}</ion-option>
            </ion-select>  
          </ion-item>                    
          -->
                    
          <br>
          <button ion-button round block type="submit" [disabled]="clientForm.invalid">Salvar</button>

        </form>
    </ion-list>


    <!-- Caso o valor da propriedade " [(ngModel)]="view" == 'customers' " -->
    <ion-list no-lines *ngSwitchCase="'Clientes Ativos'">
      <ion-item-sliding *ngFor="let client of customers | async">

        <ion-item *ngIf="client.state === 'ativo'">
          <ion-avatar item-start (click)="onClientDetails(client)">
            <img [src]="client.photo || 'assets/images/no-image.png'">
          </ion-avatar>          
          <h3 text-uppercase>Cliente: <b>{{ client.name }}</b></h3>
          <h3 text-uppercase>Status: <b>{{ client.state }}</b></h3>
        </ion-item>

      <ion-item-options side="left">      
        <button ion-button color="primary" (click)="onClientUpdateFoto(client)">
          <ion-icon name="images"></ion-icon>
          Atualizar
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="primary" (click)="onClientUpdate(client)">
          <ion-icon name="document"></ion-icon>
          Atualizar
        </button>

        <button ion-button color="danger" (click)="onClientDelete(client)">        
          <ion-icon name="trash"></ion-icon>
          Deletar
        </button>

      </ion-item-options>       

      </ion-item-sliding>      
    </ion-list>

    <!-- Caso o valor da propriedade " [(ngModel)]="view" == 'customers' " -->
    <ion-list no-lines *ngSwitchCase="'Clientes Bloqueados'">
      <ion-item-sliding *ngFor="let client of customers | async">

        <ion-item *ngIf="client.state === 'bloqueado'">
          <ion-avatar item-start (click)="onClientDetails(client)">
            <img [src]="client.photo || 'assets/images/no-image.png'">
          </ion-avatar>          
          <h3 text-uppercase>Cliente: <b>{{ client.name }}</b></h3>
          <h3 text-uppercase>Status: <b>{{ client.state }}</b></h3>
        </ion-item>

      <ion-item-options side="left">      
        <button ion-button color="primary" (click)="onClientUpdateFoto(client)">
          <ion-icon name="images"></ion-icon>
          Atualizar
        </button>
      </ion-item-options>

      <ion-item-options side="right">
        <button ion-button color="primary" (click)="onClientUpdate(client)">
          <ion-icon name="document"></ion-icon>
          Atualizar
        </button>

        <button ion-button color="danger" (click)="onClientDelete(client)">        
          <ion-icon name="trash"></ion-icon>
          Deletar
        </button>

      </ion-item-options>       

      </ion-item-sliding>      
    </ion-list>

  </div>

  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

</ion-content>
